/node_modules/
/vendor
/composer.lock

# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
.buildpath
.classpath
.settings
cscope.files
cscope.out
*.orig
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json
# ignoriert alle Mac-Dateien "DS_Store"
.DS_Store
._.DS_Store
